
:root {
  --textPrimary: #494949;
  --textSecondary: #7f8287;
  --bgPrimary: #f4f4f4;
  --bgSecondary: #ffffff;
  --accentPrimary: #265aa5;
  --accentSecondary: #ffc5bb;
  --border: #cccccc;
}

.dark {
  --textPrimary: #ffffff;
  --textSecondary: #a073ba;
  --bgPrimary: #070029;
  --bgSecondary: #23013d;
  --accentPrimary: #ffffff;
  --accentSecondary: #fffffc;
  --border: #000000;
}