// styles/index.scss
@import './colors.css';

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--textPrimary);
  letter-spacing: 0.1rem;

  :hover {
    color: var(--accentPrimary);
  }
}


body {
  min-width: 320px;
  background-color: var(--bgPrimary);
  color: var(--textPrimary);
  transition: background-color 0.4s ease, color 0.4s ease;
}

h1,
h2,
h3 {
  font-weight: 600;
  letter-spacing: 0.15rem;
}

p {
  max-width: 70ch;
  letter-spacing: 0.09em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  :hover {
    border-color: #646cff;
  }

  :focus,
  :focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.stripe-animated-icon:hover pattern animateTransform {
  animation-play-state: running;
}

@keyframes stripe-slide {
  from { --pattern-shift: 0px; }
  to   { --pattern-shift: var(--tileH); }
}